{# =================== Importa el archivo base html =================== #}
{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
   <div class="container">
     <div class="row"> 
       <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
           <h2>{{ oferta.programa.nombre }}</h2>
           <ol class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>            
            <li><a href="{% url 'programas' %}">Programas</a></li>            
            <li class="active">{{ oferta.programa.nombre|capfirst }}</li>
          </ol>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End breadcrumb -->
 <section id="mu-course-content">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-course-content-area">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <!-- start course content container -->
                <div class="mu-course-container mu-course-details">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="mu-latest-course-single">
                        <figure class="mu-latest-course-img">
                          <a href="#"><img src="{% static oferta.programa.image_url %}" alt="img"></a>
                          <figcaption class="mu-latest-course-imgcaption">
                            <a href="#">{{ oferta.programa.nombre }}</a>
                            <span><i class="fa fa-clock-o"></i>10 Semestres</span>
                          </figcaption>
                        </figure>
                        <div class="mu-latest-course-single-content">
                          <h2 class="text-center">{{ oferta.programa.nombre }}</h2>
                          <h4>Informaci&oacute;n del Programa</h4>
                          <ul>
                            <li> <span>C&oacute;digo</span> <span>{{ oferta.programa.codigo }}</span></li>
                            <li> <span>SNIES</span> <span>{{ oferta.programa.snies }}</span></li>
                            <li> <span>Creditos</span> <span>{{ oferta.programa.creditos }}</span></li>
                            <li> <span>Tipo de formaci&oacute;n</span> <span>{{ oferta.programa.formacion }}</span></li>
                            <li> <span>T&iacute;tulo</span> <span>{{ oferta.programa.titulo }}</span></li>
                            <li> <span>Metodolog&iacute;a</span> <span>{{ oferta.programa.metodologia }}</span></li>
                          </ul>
                          <h4>Descripci&oacute;n</h4>
                          <p>{{ oferta.programa.descripcion }}</p>
                          <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, placeat, ipsa. Modi sed quibusdam vel autem fugit, eaque, iste. Excepturi fugit dignissimos suscipit dolor perferendis debitis magni sed, quia ab.</p>
                          </blockquote>
                          
                          <h4>Criterios de Ponderaci&oacute;n del Examen de Estado</h4>
                          <div class="table-responsive">
                            <table class="table">
                            <thead>
                              <tr>
                                <th> Criterio </th>
                                <th> Porcentaje </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td> Lectura Cr&iacute;tica </td>
                                <td> {{ oferta.peso_lectura }} </td>
                              </tr>
                              <tr>
                                <td> Matem&aacute;ticas </td>
                                <td> {{ oferta.peso_matematicas }} </td>
                              </tr>
                              <tr>
                                <td> Ciencias Naturales </td>
                                <td> {{ oferta.peso_naturales }} </td>
                              </tr>
                              <tr>
                                <td> Ciencias Sociales </td>
                                <td> {{ oferta.peso_sociales }} </td>
                              </tr>
                              <tr>
                                <td> Ingl&eacute;s </td>
                                <td> {{ oferta.peso_ingles }} </td>
                              </tr>
                              <tr>
                                <td> Prueba Espec&iacute;fica </td>
                                <td> {{ oferta.peso_prueba }} </td>
                              </tr>
                            </tbody>
                          </table>
                          </div>
                        </div>
                      </div> 
                    </div>                                   
                  </div>
                </div>
                <!-- end course content container -->
                
              </div>
                  <!-- end single sidebar -->
                <!--</aside>-->
                <!-- / end sidebar -->
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 

{% endblock content %}