{# =================== Importa el archivo base html =================== #}
{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<!-- Start Slider -->
  <section id="mu-slider">
    <!-- Start single slider item -->
    <div class="mu-slider-single">
      <div class="mu-slider-img">
        <figure>
          <img src="{% static 'assets/img/slider/1.jpeg' %}" alt="img">
        </figure>
      </div>
      <div class="mu-slider-content">
        <h4>Bienvenido a la Universidad ABC</h4>
        <span></span>
        <h2>Excelencia con calidad humana</h2>
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor amet error eius reiciendis eum sint unde eveniet deserunt est debitis corporis temporibus recusandae accusamus.</p>-->
        <p>&nbsp;</p>
        <!--<a href="#" class="mu-read-more-btn">Read More</a>-->
      </div>
    </div>
    <!-- Start single slider item -->
    <!-- Start single slider item -->
    <div class="mu-slider-single">
      <div class="mu-slider-img">
        <figure>
          <img src="{% static 'assets/img/slider/2.jpeg' %}" alt="img">
        </figure>
      </div>
      <div class="mu-slider-content">
        <h4></h4>
        <h2>Encuentra libertad en el conocimiento, y crecimiento en tu pensar</h2>
        <p>La educación es la herramienta para ser y cumplir cada uno de tus objetivos y sueños</p>
        <!--<a href="#" class="mu-read-more-btn">Read More</a>-->
      </div>
    </div>
    <!-- Start single slider item -->
    <!-- Start single slider item -->
    <div class="mu-slider-single">
      <div class="mu-slider-img">
        <figure>
          <img src="{% static 'assets/img/slider/3.jpeg' %}" alt="img">
        </figure>
      </div>
      <div class="mu-slider-content">
        <h4>Innovación</h4>
        <span></span>
        <h2>Imagina</h2>
        <p>Materializa todas tus idea con el conocimiento que se aprende en la Universidad ABC, acompañado de un cuerpo profesoral con la mas alta calidad</p>
        <!--<a href="#" class="mu-read-more-btn">Read More</a>-->
      </div>
    </div>
    <!-- Start single slider item -->    
  </section>
  <!-- End Slider -->
  <!-- Start service  -->
  <section id="mu-service">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 ">
          <div class="mu-service-area">
            <!-- Start single service -->
            <div class="mu-service-single">
              <span class="fa fa-table"></span>
              <h3>Aprende</h3>
              <p>Aprende de la mano de profesores especialistas el área que mas te interesa.</p>
            </div>
            <!-- Start single service -->
            <!-- Start single service -->
            <div class="mu-service-single">
              <span class="fa fa-users"></span>
              <h3>Comparte</h3>
              <p>Comparte tu conocimiento creado en la Universidad internacionalmente con todo el apoyo de necesario.</p>
            </div>
            <!-- Start single service -->
            <!-- Start single service -->
            <div class="mu-service-single">
              <span class="fa fa-book"></span>
              <h3>Crea</h3>
              <p>crea soluciones para tu país y encuentra la forma de ayudarlo a progresar.</p>
            </div>
            <!-- Start single service -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End service  -->

  <!-- Start about us -->
  <section id="mu-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-about-us-area">           
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="mu-about-us-left">
                  <!-- Start Title -->
                  <div class="mu-title">
                    <h2>Sobre la Universidad ABC</h2>              
                  </div>
                  <!-- End Title -->
                  <p>La Universidad ABC es una entidad fundada en la idea de aprehender el conocimiento y a partir de este punto empezar a crear transformación científica y social, generando ya sea nuevo conocimiento o aplicando innovación en estudios previamente realizados para que pasen a la industria, buscando un gran impacto positivo para quienes se dirigen.</p>
                  <p>Los estudiantes y docentes se consideran como la mejor conjunción de conocimiento y creatividad que permite a la Universidad ABC destacarse logrando diferentes productos que se encuentran en el día a día.</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="mu-about-us-right">                            
                <a id="mu-abtus-video" href="https://www.youtube.com/embed/HN3pm9qYAUs" target="mutube-video">
                  <img src="{% static 'assets/img/about-us.jpg' %}" alt="img">
                </a>                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End about us -->

  <!-- Start about us counter -->
  <section id="mu-abtus-counter">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-abtus-counter-area">
            <div class="row">
              <!-- Start counter item -->
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="mu-abtus-counter-single">
                  <span class="fa fa-book"></span>
                  <h4 class="counter">13</h4>
                  <p>Programas acad&eacute;micos</p>
                </div>
              </div>
              <!-- End counter item -->
              <!-- Start counter item -->
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="mu-abtus-counter-single">
                  <span class="fa fa-users"></span>
                  <h4 class="counter">1850</h4>
                  <p>Estudiantes</p>
                </div>
              </div>
              <!-- End counter item -->
              <!-- Start counter item -->
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="mu-abtus-counter-single">
                  <span class="fa fa-flask"></span>
                  <h4 class="counter">15</h4>
                  <p>Laboratorios</p>
                </div>
              </div>
              <!-- End counter item -->
              <!-- Start counter item -->
              <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="mu-abtus-counter-single no-border">
                  <span class="fa fa-user-secret"></span>
                  <h4 class="counter">120</h4>
                  <p>Docentes</p>
                </div>
              </div>
              <!-- End counter item -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End about us counter -->

  
  <!-- Start latest course section -->
  <section id="mu-latest-courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="mu-latest-courses-area">
            <!-- Start Title -->
            <div class="mu-title">
              <h2>Nuestros programas</h2>
              <p>Para la Universidad ABC es importante contar con formaci&oacute;n en las tendencias internacionales, por ello traemos a nuestros estudiantes estos programas que se encuentran a la vanguardia.</p>
            </div>
            <!-- End Title -->
            <!-- Start latest course content -->
            <div id="mu-latest-course-slide" class="mu-latest-courses-content">
              <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="mu-latest-course-single">
                  <figure class="mu-latest-course-img">
                    <a href="#"><img src="{% static 'assets/img/courses/1.jpg' %}" alt="img"></a>
                    <figcaption class="mu-latest-course-imgcaption">
                      <a href="#">Ingenieria Aeroespacial</a>
                      <span><i class="fa fa-clock-o"></i>90Days</span>
                    </figcaption>
                  </figure>
                  <div class="mu-latest-course-single-content">
                    <h4><a href="#">Lorem ipsum dolor sit amet.</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quod nisi quisquam modi dolore, dicta obcaecati architecto quidem ullam quia.</p>
                    <div class="mu-latest-course-single-contbottom">
                      <a class="mu-course-details" href="#">Details</a>
                      <span class="mu-course-price" href="#">$165.00</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="mu-latest-course-single">
                  <figure class="mu-latest-course-img">
                    <a href="#"><img src="{% static 'assets/img/courses/2.jpg' %}" alt="img"></a>
                    <figcaption class="mu-latest-course-imgcaption">
                      <a href="#">Tikilan</a>
                      <span><i class="fa fa-clock-o"></i>75Days</span>
                    </figcaption>
                  </figure>
                  <div class="mu-latest-course-single-content">
                    <h4><a href="#">Lorem ipsum dolor sit amet.</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quod nisi quisquam modi dolore, dicta obcaecati architecto quidem ullam quia.</p>
                    <div class="mu-latest-course-single-contbottom">
                      <a class="mu-course-details" href="#">Details</a>
                      <span class="mu-course-price" href="#">$165.00</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="mu-latest-course-single">
                  <figure class="mu-latest-course-img">
                    <a href="#"><img src="{% static 'assets/img/courses/3.jpg' %}" alt="img"></a>
                    <figcaption class="mu-latest-course-imgcaption">
                      <a href="#">P3</a>
                      <span><i class="fa fa-clock-o"></i>45Days</span>
                    </figcaption>
                  </figure>
                  <div class="mu-latest-course-single-content">
                    <h4><a href="#">Lorem ipsum dolor sit amet.</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quod nisi quisquam modi dolore, dicta obcaecati architecto quidem ullam quia.</p>
                    <div class="mu-latest-course-single-contbottom">
                      <a class="mu-course-details" href="#">Details</a>
                      <span class="mu-course-price" href="#">$165.00</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="mu-latest-course-single">
                  <figure class="mu-latest-course-img">
                    <a href="#"><img src="{% static 'assets/img/courses/1.jpg' %}" alt="img"></a>
                    <figcaption class="mu-latest-course-imgcaption">
                      <a href="#">P4</a>
                      <span><i class="fa fa-clock-o"></i>90Days</span>
                    </figcaption>
                  </figure>
                  <div class="mu-latest-course-single-content">
                    <h4><a href="#">Lorem ipsum dolor sit amet.</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quod nisi quisquam modi dolore, dicta obcaecati architecto quidem ullam quia.</p>
                    <div class="mu-latest-course-single-contbottom">
                      <a class="mu-course-details" href="#">Details</a>
                      <span class="mu-course-price" href="#">$165.00</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="mu-latest-course-single">
                  <figure class="mu-latest-course-img">
                    <a href="#"><img src="{% static 'assets/img/courses/2.jpg' %}" alt="img"></a>
                    <figcaption class="mu-latest-course-imgcaption">
                      <a href="#">P5 </a>
                      <span><i class="fa fa-clock-o"></i>75Days</span>
                    </figcaption>
                  </figure>
                  <div class="mu-latest-course-single-content">
                    <h4><a href="#">Lorem ipsum dolor sit amet.</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quod nisi quisquam modi dolore, dicta obcaecati architecto quidem ullam quia.</p>
                    <div class="mu-latest-course-single-contbottom">
                      <a class="mu-course-details" href="#">Details</a>
                      <span class="mu-course-price" href="#">$165.00</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="mu-latest-course-single">
                  <figure class="mu-latest-course-img">
                    <a href="#"><img src="{% static 'assets/img/courses/3.jpg' %}" alt="img"></a>
                    <figcaption class="mu-latest-course-imgcaption">
                      <a href="#">P6</a>
                      <span><i class="fa fa-clock-o"></i>45Days</span>
                    </figcaption>
                  </figure>
                  <div class="mu-latest-course-single-content">
                    <h4><a href="#">Lorem ipsum dolor sit amet.</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quod nisi quisquam modi dolore, dicta obcaecati architecto quidem ullam quia.</p>
                    <div class="mu-latest-course-single-contbottom">
                      <a class="mu-course-details" href="#">Details</a>
                      <span class="mu-course-price" href="#">$165.00</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End latest course content -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End latest course section -->

  
  <!-- Start testimonial -->
  <section id="mu-testimonial">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-testimonial-area">
            <div id="mu-testimonial-slide" class="mu-testimonial-content">
              <!-- start testimonial single item -->
              <div class="mu-testimonial-item">
                <div class="mu-testimonial-quote">
                  <blockquote>
                    <p>El acompañamiento de los docentes forma parte esencial de mi desarrollo estudiantil, contar con profesores excelentes es a destacar.</p>
                  </blockquote>
                </div>
                <div class="mu-testimonial-img">
                  <img src="{% static 'assets/img/testimonial-1.png' %}" alt="img">
                </div>
                <div class="mu-testimonial-info">
                  <h4>Julian Silva</h4>
                  <span>Estudiante</span>
                </div>
              </div>
              <!-- end testimonial single item -->
              <!-- start testimonial single item -->
              <div class="mu-testimonial-item">
                <div class="mu-testimonial-quote">
                  <blockquote>
                    <p>La Universidad ABC es la oportunidad perfecta para empezar a alcanzar el &eacute;xito profesional de nuestros hijos.</p>
                  </blockquote>
                </div>
                <div class="mu-testimonial-img">
                  <img src="{% static 'assets/img/testimonial-3.png' %}" alt="img">
                </div>
                <div class="mu-testimonial-info">
                  <h4>Miguel Lopez</h4>
                  <span>Padre</span>
                </div>
              </div>
              <!-- end testimonial single item -->
              <!-- start testimonial single item -->
              <div class="mu-testimonial-item">
                <div class="mu-testimonial-quote">
                  <blockquote>
                    <p>Tener a disponibilidad una gran variedad de conocimiento permite realizar trabajos interdisciplinarios con facilidad.</p>
                  </blockquote>
                </div>
                <div class="mu-testimonial-img">
                  <img src="{% static 'assets/img/testimonial-2.png' %}" alt="img">
                </div>
                <div class="mu-testimonial-info">
                  <h4>Camilo Ruiz</h4>
                  <span>Estudiante</span>
                </div>
              </div>
              <!-- end testimonial single item -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End testimonial -->


{% endblock %}

{% block customjs %}

{% endblock %}