{# =================== Importa el archivo base html =================== #}
{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<!-- Page breadcrumb -->
 <section id="mu-page-breadcrumb">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-page-breadcrumb-area">
           <h2>Informaci&oacute;n de Admision</h2>
           <ol class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>            
            <li class="active">Admisiones</li>
          </ol>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- End breadcrumb -->
 <section id="mu-course-content">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="mu-course-content-area">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <!-- start course content container -->
                <div class="mu-course-container mu-course-details">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="mu-latest-course-single">
                        <figure class="mu-latest-course-img">
                          <a href="#"><img src="{% static 'assets/img/gallery/inscription.jpeg' %}" alt="img"></a>
                        </figure>
                        <div class="mu-latest-course-single-content">
                          <h2 class="text-center"><a href="#">Proceso de Admisión</a></h2>
                          <h4></h4>
                          <p>El proceso de amdmisión en la Universidad ABC se rige por altos est&aacute;ndares de calidad. Al inscribirse en nuestra universidad usted cuenta con el respaldo de todo un equipo. No olvides revisar los programas que estamos ofertando <a href="{% url 'programas' %}">aquí</a>. Por favor siga los pasos que se detallan a continuación para lograr una inscripción exitosa en nuestra institución.</p>
                          <h4>1. Inscripción</h4>
                          <p>Para inscribirse en un programa academico de la Universidad ABC debe de diligenciar este <a href="{% url 'admisiones_inscripcion' %}">formulario</a>.</p>
                          <h4>2. Confirmación</h4>
                          <p>Cuando reciba el correo que lo ratifica como seleccionado debe validar sus inscripción, por tanto debe seguir los pasos que indica el correo electrónico.</p>
                        </div>
                      </div> 
                    </div>                                   
                  </div>
                </div>
                <!-- end course content container -->
                
              </div>
              
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>

{% endblock content %}