{# =================== Importa el archivo base html =================== #}
{% extends "base.html" %}

{% load staticfiles %}
{% load bootstrap3 %}
{% block specific-css %}
<script src='https://www.google.com/recaptcha/api.js'></script>
<style>
@media screen and (max-width: 992px){
#rc-imageselect, .g-recaptcha {
    transform:scale(0.77);
    -webkit-transform:scale(0.77);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;}
}



</style>
{% endblock specific-css %}
{% block content %}

<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
 <div class="container">
     <div class="row">
         <div class="col-md-12">
             <div class="mu-page-breadcrumb-area">
                 <h2>Inscripci&oacute;n</h2>
                 <ol class="breadcrumb">
                     <li><a href="{% url 'home' %}">Home</a></li>
                     <li><a href="{% url 'admisiones' %}">Admisiones</a></li>
                     <li class="active">Inscripci&oacute;n</li>
                 </ol>
             </div>
         </div>
     </div>
 </div>
</section>
 <!-- End breadcrumb -->

 <!-- Start contact  -->
<section id="mu-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-contact-area">
                    <!-- start title -->
                    <div class="mu-title">
                        <h2>Inscribite a nuestros programas hoy</h2>
                        <p>En la Universidad ABC estamos felices de que inicies tu proceso de inscripci&oacute;n con nosotros, queremos darte la bienvenida a un nuevo mundo de oportunidades. Recuerda visitar nuestro <a href="{% url 'programas' %}">cat&aacute;logo de programas.</a></p>
                    </div>
                    <!-- end title -->
                    {% include 'messages.html' %}
                    <!-- start contact content -->
                    <div class="mu-contact-content">
                        <form id="form-aspirante" action="" method="post">
                            {% csrf_token %}
                            {% bootstrap_form_errors form %}
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="mu-contact-left">
                                        
                                        {#{% bootstrap_field form.username %}#}
                                        {#{% bootstrap_field form.password %}#}
                                        {#{% bootstrap_field form.confirm_password %}#}
                                        {% bootstrap_field form.documento %}
                                        {% bootstrap_field form.tipo_documento %}
                                        {% bootstrap_field form.snp %}
                                        {% bootstrap_field form.puntaje_global %}
                                        {% bootstrap_field form.colegio %}
                                        {% bootstrap_field form.programa %}
                                        {#{% bootstrap_button "Guardar" button_type="submit" button_class="btn-primary" %}#}
                      
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    {% bootstrap_field form.nombre %}
                                    {% bootstrap_field form.apellido %}
                                    {% bootstrap_field form.email %}
                                    {% bootstrap_field form.direccion %}
                                    {% bootstrap_field form.telefono %}
                                    <div class="text-center g-recaptcha" data-sitekey="{{ GOOGLE_RECAPTCHA_SITE_KEY}}"></div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg" title="Inscribirse">
                            <!--<i class="fa fa-save"></i>-->
                                Realizar Inscripcion
                            </button>
                        </form>
                        <!--<form id="form-aspirante" action="" method="post">-->
                        <!--    {#{% csrf_token %}#}-->
                        <!--    {#{% bootstrap_form forrms %}#}-->
                        <!--  <button type="submit" class="btn btn-primary btn-lg" title="Inscribirse">-->
                              <!--<i class="fa fa-save"></i>-->
                        <!--    Realizar Inscripcion-->
                        <!--  </button>-->
                        <!--</form>-->
                    </div>
                    <!-- end contact content -->
                </div>
            </div>
        </div>
    </div>
</section>
 <!-- End contact  -->
 

{% endblock content %}

{% block customjs %}
<script src="{% static 'assets/js/validateIcfes.js' %}"></script>
<script src="{% static 'assets/js/cookie.js' %}"></script>
<script type="text/javascript">
    itemWithTimer('#message-fade', 10)
</script>
{% endblock customjs %}