{# =================== Importa el archivo base html =================== #}
{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<!-- Start error section  -->
  <section id="mu-error">
    <div class="container">
      <div class="row">
       <div class="col-md-12">
          <div class="mu-error-area">
            <p>Inscripción exitosa.</p>
            <span>Por favor inicia sesión y dirígete al apartado de pagos para continuar con el proceso.</span><br />
            <span>Recuerda que tu usuario es tu número de documento, y tu password es el número de SNP</span><br />
            <!--<h2>404</h2>-->
            <a class="mu-post-btn" href="{% url 'login' %}">Iniciar sesión</a>
          </div>
        </div>
      </div>
    </div>
  </section>
 <!-- End error section  -->

{% endblock content %}
