<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!--=================== Estilos de Terceros ===================-->
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'sbadmin/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static 'sbadmin/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">


    <!--=================== Estilos propios de todas las paginas ===================-->
    <!--Icono principal de la pagina -->
    <!--<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"> -->
    {% block all-css %}
    <!-- Custom CSS -->
    <link href="{% static 'sbadmin/dist/css/sb-admin-2.css' %}" rel="stylesheet">
    <link href="{% static 'sbadmin/dist/css/footer.css' %}" rel="stylesheet">
    
    <!-- MetisMenu CSS -->
    <link href="{% static 'sbadmin/vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">
    
    <!-- Main style sheet -->
    <!--<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">-->
    {% endblock %}


    {% block css-navbar %}
    <link href="{% static 'sbadmin/dist/css/navbar.css' %}" rel="stylesheet">
    <!--<link id="switcher" href="{% static 'assets/css/theme-color/red-theme.css' %}" rel="stylesheet">-->
        <!--<link rel="stylesheet" href="{% static 'css/header.css' %}">-->
    {% endblock %}
    
    <!--=================== Estilos especificos de cada pagina ===================-->
    {% block specific-css %}
    {% endblock %}
    
    
    
    <!--=================== Titulo ===================-->
    <title>{% block title %}Universidad ABC{% endblock %}</title>
    
</head>
<body>

    <div id="wrapper">
    {# =================== Carga la barra de navegacion =================== #}
    {% block navbar %}
        {% include 'administrador/navbar_sb.html' %}
    {% endblock %}

        
    {# =================== Todo el contenido de la pagina se carga aqui =================== #}
    {% block content %}
    {% endblock %}
    </div>
    
    {# =================== Carga el footer de la pagina =================== #}
    {% block footer %}
        {# {% include 'footer.html' %} #}
    {% endblock %}


<!--=================== Scripts de terceros ===================-->
<!--<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>-->


<!--=================== Scripts generales de todas las paginas ===================-->
<!-- <script src=""></script> -->

<!--=================== Scripts especificos de cada pagina ===================-->
<!-- jQuery -->
<script src="{% static 'sbadmin/vendor/jquery/jquery.min.js' %}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'sbadmin/vendor/metisMenu/metisMenu.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'sbadmin/vendor/bootstrap/js/bootstrap.min.js' %}"></script>


<!-- Morris Charts JavaScript -->
<script src="{% static 'sbadmin/vendor/raphael/raphael.min.js' %}"></script>
<script src="{% static 'sbadmin/vendor/morrisjs/morris.min.js' %}"></script>
<script src="{% static 'sbadmin/data/morris-data.js' %}"></script>

<!-- Dispositivo de carga -->
<script src="{% static 'sbadmin/dist/js/carga.js' %}"></script> 

<!-- Custom Theme JavaScript -->
<script src="{% static 'sbadmin/dist/js/sb-admin-2.js' %}"></script>

{% block specific-js %}
{% endblock %}

</body>
</html>