<!-- Start footer -->
<footer id="mu-footer">
<!-- start footer top -->
<div class="mu-footer-top">
  <div class="container">
    <div class="mu-footer-top-area">
      <div class="row">
        <div class="col-lg-3 col-lg-offset-2 col-md-3 col-md-offset-2 col-sm-3">
          <div class="mu-footer-widget">
            <h4>Information</h4>
            <ul>
              <li><a href="{% url 'home' %}">About Us</a></li>
              <li><a href="">Features</a></li>
              <!--<li><a href="">Course</a></li>-->
              <!--<li><a href="">Event</a></li>-->
              <li><a href="">Sitemp</a></li>
              <li><a href="{% url 'login' %}">Iniciar Sesi&oacute;n</a></li>
            </ul>
          </div>
        </div>
        <!--<div class="col-lg-4 col-md-4 col-sm-4">-->
        <!--  <div class="mu-footer-widget">-->
        <!--    <h4>Student Help</h4>-->
        <!--    <ul>-->
        <!--      <li><a href="">Get Started</a></li>-->
        <!--      <li><a href="#">My Questions</a></li>-->
        <!--      <li><a href="">Download Files</a></li>-->
        <!--      <li><a href="">Latest Course</a></li>-->
        <!--      <li><a href="">Academic News</a></li>-->
        <!--    </ul>-->
        <!--  </div>-->
        <!--</div>-->
        
        <div class="col-lg-3 col-lg-offset-2 col-md-3 col-md-offset-2 col-sm-3">
          <div class="mu-footer-widget">
            <h4>Contact</h4>
            <address>
              <p>Calle 13 # 100 - 00</p>
              <p>Tel&eacute;fono: (+57) 321-2100</p>
              <!--<p>Website: www.admisiones.io</p>-->
              <p>Correo electr&oacute;nico: info@universiadadabc.edu.co</p>
            </address>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end footer top -->
<!-- start footer bottom -->
<div class="mu-footer-bottom">
  <div class="container">
    <div class="mu-footer-bottom-area">
      <p>&copy; All Right Reserved. Designed by Fish Team Developers</p>
    </div>
  </div>
</div>
<!-- end footer bottom -->
</footer>
<!-- End footer -->